//色

/*----------------------------------
テキストカラー
-----------------------------------*/
$color-text-primary: #333333; /* 本文のテキスト用 */
$color-text-primary-rgb: rgba(51, 51, 51, 0.7); /* 本文のテキスト用 */
$color-text-secondary: #6C6E6F; /* 本文のテキスト用 */
$color-text-secondary-rgb: rgba(108, 110, 111, 0.7); /* 本文のテキスト用 */
$color-text-tertiary: #FFFFFF; /* 本文のテキスト用 */

/*----------------------------------
カラー
-----------------------------------*/
/* アクセントカラー */
$color-accent_01: #FF8B71;
$color-accent_01-rgb: rgba(255, 139, 113);
$color-accent_01-contrast: #ffffff;
$color-accent_01-contrast-rgb: rgba(255, 255, 255);

/* アクセントカラー */
$color-accent_02: #82BFED;
$color-accent_02-rgb: rgba(130, 191, 237);
$color-accent_02-contrast: #ffffff;
$color-accent_02-contrast-rgb: rgba(255, 255, 255);

/* アクセントカラー */
$color-accent_03: #C6ECEC;
$color-accent_03-rgb: rgba(198, 236, 236);
$color-accent_03-contrast: #ffffff;
$color-accent_03-contrast-rgb: rgba(255, 255, 255);

/* アクセントカラー */
$color-gradation: linear-gradient(177deg, #50BFCB -29.45%, rgba(80, 191, 203, 0.42) 127.88%);

/* 背景色メインカラー*/
$color-bg-primary: #ffffff;
$color-bg-primary-rgb:  rgba(255, 255, 255);

/* 背景色サブカラー*/
$color-bg-secondary: #F4FBFD;
$color-bg-secondary-rgb: rgba(244, 251, 253);



//利用する時は以下のようにします。
//button.primary {
//   background: rgba(var(--color-primary-rgb), 0.9); // 不透明度90%
//   color: var(--color-primary-contrast);
// }
