//フォント
$ff-base-ja: "Noto Sans JP", sans-serif; //日本語標準
$ff-accent-ja_01: "Noto Serif JP", serif; //日本語アクセント
$ff-accent-ja_02: "Yomogi", cursive;//日本語アクセント
$ff-base-en: "Lato", sans-serif; //英語標準
$fz-base: 16px; //ベースフォントサイズ
$fw-base: 400; //ベースフォントウェイト
$lh-base: 1.7; //ベース行間