//重なり順の定義
$layer: (
  //ローディング
  loading: 300,
  //モーダル
  modal: 100,
  //ドロワー
  drawer: 40,
  //フローティング
  floating: 30,
  //ヘッダー
  header: 20,
  //フッター
  footer: 10,
  default: 1,
  pseudo:-1
  //疑似要素（背景画像）
);
